@tailwind base;
@tailwind components;
@tailwind utilities;


/****************** NPROGRESS ********************/

#nprogress .bar {
    height: 3px !important;
}

/*
#nprogress .bar::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 8px;
    border-radius: 72% 28% 26% 74% / 51% 49% 51% 49%;
    filter: brightness(1.5);
    @apply bg-primary;
}
*/

/*********************************************/

.ant-btn {
    height: auto;
    padding: 9px 15px;
    @apply text-xs shadow-none hover:shadow;
}

.ant-btn.ant-btn-icon-only{
    width: auto;
    height: auto;
}

/***************** SCROOLBAR *********************/

::-webkit-scrollbar {
    @apply p-0 w-2 h-2;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-text-primary/25 hover:bg-text-primary/50;
}

::-webkit-scrollbar-track {
    @apply bg-transparent px-2;
}

::-webkit-scrollbar-button {
    display: none;
}

.ps .ps__rail-y:hover,
.ps .ps__rail-x:hover,
.ps .ps--clicking{
    @apply !bg-white !bg-opacity-20;
}

/************************ MODAL ***************************/

.ant-modal-title {
    @apply !font-medium mb-5;
}

.ant-modal-footer .ant-btn{
    @apply !uppercase;
}

/**********************************************************/

.main-card {
    @apply bg-white main-shadow main-rounded overflow-hidden;
}

.main-card .ant-card-head{
    @apply  border-0 min-h-fit pt-4;
}

.main-card .ant-card-body,
.main-card .ant-card-head{
    @apply px-2 sm:px-6;
}

.main-card .card-description{
    @apply text-sm text-gray-600;
}

.main-modal {
    @apply my-3;
}
